NEXT_PUBLIC_APP_NAME="AmanahZakat Peduli"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_DATA_MODE="mock"
NEXT_PUBLIC_API_BASE_URL=""
NEXT_PUBLIC_ENABLE_DEMO_PAYMENT_CONTROLS="true"
NEXT_PUBLIC_ENABLE_MOCK_ZIS_ASSISTANT="true"
